@model IEnumerable<Iotiva.Models.Things.ThingModel>

@{
    ViewBag.Title = "RepoItems";
}

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Repository (@Model.Count() Things)</h2>
<div id="result" style="display:none"></div>
<div id="target" class="row">
    @foreach (var item in Model)
    {       
        <div id="dialog_@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        @if (!string.IsNullOrWhiteSpace(item.Name))
                        {
                            <h1 class="text-center" style="overflow:hidden">@item.Name</h1>
                        }
                        else
                        {
                            <h1 class="text-center" style="overflow:hidden">@item.Id</h1>
                        }
                    </div>

                        <div class="modal-body">
                            <dl class="dl-horizontal">
                                <dt>Id</dt><dd>@item.Id</dd>
                                <dt>Name</dt><dd>@item.Name</dd>
                                <dt>Description</dt><dd>@item.Description</dd>
                                <dt>Agent</dt><dd>@item.Agent</dd>
                                @foreach (var prop in item.Properties)
                                {
                                    <dt>@prop.Key</dt><dd>@prop.Value.Trim()</dd>
                                }
                            </dl>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                @Html.ActionLink("Edit", "RepoEdit", new { id = @item.Id }, new { @class="btn btn-primary" })
                                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>

        <a class="btn btn-info col-md-1" style="margin:5px; width:150px;height:150px" href="#" data-toggle="modal" data-target="#dialog_@item.Id">
            <div style="padding-top:10px">
                <p>
                    <i class="fa fa fa-info-circle fa-4x text-center"></i>
                </p>
                @if (!string.IsNullOrWhiteSpace(item.Name))
                {
                    <p class="text-center wrapword" style="overflow:hidden; height: 40px; vertical-align: middle">@item.Name</p>
                }
                else
                {
                    <p class="text-center wrapword" style="overflow:hidden; height: 40px">@item.Id</p>
                }
            </div>
        </a>
    }
</div>